@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Inter-Medium.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Inter-Regular.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

:root {
  --color-bg: #fdfdfc;
  --color-fg: #000000;
  --color-fg-muted: #000000b0;
  --color-accent-primary: #e63946;
  --color-accent-secondary: #af9fff;
  --color-neutral: #f5f5f5;
  --text-lg: 1.375rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --spacing-level-1: 6rem;
  --spacing-level-2: 3rem;
  --spacing-level-3: 1.5rem;
  --spacing-level-4: 1rem;
  --spacing-level-5: 0.5rem;
  font-family: Inter, "Inter Fallback";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-fg-muted);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: var(--spacing-level-2) 0;
  max-width: 52rem;
  margin: auto;
  user-select: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: var(--color-fg);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-level-5);
  padding: 0;
  font-family: Inter, "InterFallback";
  font-weight: 500;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: none;
  cursor: pointer;
  transition:
    border 0.25s ease-out,
    color 0.25s ease-out;
}

header {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-level-2);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

a {
  color: var(--color-fg-muted);
  transition: color 0.25ms ease-out;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: var(--color-fg);
}

footer a {
  font-size: var(--text-sm);
}

.accent-primary {
  color: var(--color-accent-primary);
}

.accent-secondary {
  color: var(--color-accent-secondary);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-md {
  font-size: var(--text-md);
}

.text-sm {
  font-size: var(--text-sm);
}

.spacing-level-1 {
  gap: var(--spacing-level-1);
}

.spacing-level-2 {
  gap: var(--spacing-level-2);
}

.spacing-level-3 {
  gap: var(--spacing-level-3);
}

.spacing-level-4 {
  gap: var(--spacing-level-4);
}

.spacing-level-5 {
  gap: var(--spacing-level-5);
}

.content-section {
  margin: var(--spacing-level-1) 0;
}

.content-group {
  display: flex;
  flex-direction: column;
}

.content-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.two-cols {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: var(--spacing-level-2);
}

.three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-level-2);
}

/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #eeeeee; */
/*   } */
/* } */

.content-section {
  margin: var(--spacing-level-1) 0;
}

.content-section--project-page {
  margin: var(--spacing-level-3) 0;
}

.content-group {
  display: flex;
  flex-direction: column;
}

.content-right {
  margin-left: auto;
}

.theme-toggle {
  width: 1rem;
  height: 1rem;
  padding: 0.313rem;
  border: 1px solid var(--color-fg-muted);
  border-radius: 1rem;
}

.theme-toggle:hover {
  border-color: var(--color-fg);
  color: var(--color-fg);
}

.toggle-inner {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.theme-toggle:hover .toggle-inner {
  opacity: 1;
}

.arrow-right {
  width: 1.375rem;
  height: auto;
}

.decorator-line {
  height: 1.5px;
  width: 2.4rem;
  background-color: var(--color-accent-primary);
}

.card {
  background-color: var(--color-neutral);
  padding: var(--spacing-level-4);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/9;
}

.badge {
  font-size: var(--text-sm);
  color: var(--color-accent-primary);
  border: 1px solid var(--color-accent-primary);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.counter-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 100ms ease-out;
}

.counter-container:hover {
  transform: translateY(1%);
}

.counter-container:hover .gear-left {
  transform: translate(-50%, -50%) rotate(36deg);
}

.counter-container:hover .gear-right {
  transform: scale(-1, 1) rotate(36deg);
}

.counter-container:hover .counter-button {
  transform: translate(-50%, -42%);
}

.counter-container:hover .spring {
  transform: translate(-50%, -50%) scaleY(0.85);
}

.counter-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  pointer-events: none;
  z-index: 12;
}

.counter {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.gear {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear;
}

.gear-left {
  top: 46.5%;
  left: 39%;
}

.gear-right {
  transform: scale(-1, 1);
  top: 30%;
  right: 30.4%;
}

.counter-button {
  z-index: 2;
  transition: transform 300ms linear;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spring {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear;
}

.source-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: max-content;
  padding: 0.05rem 0.25rem;
  border-radius: 4px;
  background-color: var(--color-neutral);
  color: var(--color-text-light);
}

.intro {
  max-width: 40rem;
}

.project-desc {
  max-width: 40rem;
  align-self: center;
  line-height: 160%;
}

.project-desc p {
  line-height: 180%;
}
